header {
  text-align: center;   
 }
body {
  background: rgb(100,200,100)  ;
  padding: 20px 15%;  
  width: 70%;  
} 

h1 {
  border-width: 1; 
  border: solid; 
  text-align: center;
  background: white ;
  border-radius: 15px;
  box-shadow:5px 5px 5px 20px yellow inset;  
  text-shadow: 5px 3px 1px #bbbaba;
}

div#mainContent {  
    display: block;  
    margin-bottom: 20px;
    padding: 15px 10px;  
    
}  
 
div#time,#nameLabel,#author{
  text-align: center;
}


